/* FONTS */
@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/FuturaStd-Book.woff2') format('woff2'),
      url('./fonts/FuturaStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
:root {
  --kbg-main: #a0d6df;
  --kbg-main-bg: #365780;
  --kbg-alt-bg: #81a1d5;
  --kbg-gradient: linear-gradient(135deg, var(--kbg-main) 0%, var(--kbg-main-bg) 100%);
  --gradient-lite: linear-gradient(135deg, var(--kbg-main) 0%, var(--kbg-alt-bg) 100%);
  --grayish-font: #7d7d7d;
  --lite-shadow:  0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
* {
  font-family: 'Futura Std';
}
.kbg-wrapper {
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: var(--kbg-alt-bg);
}

.kbg-overlay {
  height: 100vh;
  width: 100vw;
  background: #365780;
  transform: translateY(100vh);
  transition: all .3s cubic-bezier(0.72, -0.01, 0.58, 1) .1s;
  position: absolute;
  top: 0;
  z-index: 5;
}

.kbg-overlay--showing {
  transform: translateY(0);
}


/* GRID */ 

.grid-wrapper {
    width: 100%;
    height: 100vh;
    display: block;
    position: relative;
    border-left: 10px solid transparent;
}
.kbg-grid-item {
  display: inline-block;
  width: 33%;
  position: absolute;
  transition: all .15s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  border: 10px solid transparent;
  z-index: 1;
}

.kbg-grid-item__image {
    /* filter: grayscale(100%); */
    background-size: cover;
    position: absolute;
    background-blend-mode: color;
    background-position: center;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    bottom: 0;
    transition: all .15s ease-in-out;
}

.kbg-grid-item.kbg-grid-item--transition {
  transform: scale(1.1,1.1);
  }


.kbg-grid-item:hover .kbg-grid-item__image {
    transform: scale(1.1,1.1);
    background-image: linear-gradient(rgba(160, 214, 223, 0.4), rgb(5, 54, 63)), url(./assets/book.jpg);
}

.kbg-grid-item__overlay {
  bottom: 0;
  padding: 0 0 0 10px;
  position: absolute;
  transform: translateY(50px);
  background: var(--kbg-main-bg);
  opacity: .9;
  color: white;
  transition: all .15s ease-in-out .15s;
  width: 100%;
}

.kbg-grid-item:hover .kbg-grid-item__overlay{
   transform: translateY(0);
}

.kbg-grid-item.kbg-grid-item--hidden {
  transition: all .2s ease-in;
  opacity: 0;
}

.kbg-grid-item.kbg-grid-item--1 {
  border-left: 14px solid transparent;
  height: 40%;
}
.kbg-grid-item.kbg-grid-item--1 .kbg-grid-item__image {
  background-image: linear-gradient(rgba(160, 214, 223, 0.4), rgb(5, 54, 63)), url(./assets/book.jpg);
}
.kbg-grid-item.kbg-grid-item--1:hover .kbg-grid-item__image {
  background-image: linear-gradient(rgba(160, 214, 223, 0), rgba(5, 54, 63, 0)), url(./assets/book.jpg);
}
.kbg-grid-item.kbg-grid-item--2 .kbg-grid-item__image {
  background-image: linear-gradient(rgba(160, 214, 223, 0.4), rgba(160,214,223,1)), url(./assets/empethy3.jpg);
}
.kbg-grid-item.kbg-grid-item--3 .kbg-grid-item__image {
  background-image: linear-gradient(rgba(160, 223, 172, 0.4), rgb(160, 223, 220)), url(./assets/kids.jpg);
}
.kbg-grid-item.kbg-grid-item--4 .kbg-grid-item__image {
  background-image: linear-gradient(rgba(160, 214, 223, 0.4), rgba(160,214,223,1)), url(./assets/text.jpg);
}
.kbg-grid-item.kbg-grid-item--5 .kbg-grid-item__image {
  background-image: linear-gradient(rgba(160, 214, 223, 0.4), rgba(160,214,223,1)), url(./assets/thilab.png);
}
.kbg-grid-item.kbg-grid-item--6 .kbg-grid-item__image {
  background-image: linear-gradient(rgba(160, 214, 223, 0.4), rgba(160,214,223,1)), url(./assets/wings.jpg);
}


.kbg-grid-item.kbg-grid-item--1.kbg-grid-item--hidden {
  transform: translateY(-100%);
}



.kbg-grid-item.kbg-grid-item--2 {
  border-left: 14px solid transparent;
  top: 40%;
  height: 60%;
}

.kbg-grid-item.kbg-grid-item--2.kbg-grid-item--hidden {
  transform: translateY(100%);
}


.kbg-grid-item.kbg-grid-item--3 {
  height: 50%;
  left: 33%;
}

.kbg-grid-item.kbg-grid-item--3.kbg-grid-item--hidden {
  transform: translateY(-100%);
}


.kbg-grid-item.kbg-grid-item--4 {

  height: 50%;
  left: 33%;
  top: 50%;
}

.kbg-grid-item.kbg-grid-item--4.kbg-grid-item--hidden {
  transform: translateY(100%);
}



.kbg-grid-item.kbg-grid-item--5 {

  height: 35%;
  left: 66%;
}

.kbg-grid-item.kbg-grid-item--5.kbg-grid-item--hidden {
  transform: translateY(-100%);
}


.kbg-grid-item.kbg-grid-item--6 {

  height: 65%;
  left: 66%;
  top: 35%;
}

.kbg-grid-item.kbg-grid-item--6.kbg-grid-item--hidden {
  transform: translateY(100%);
}



/* ABOUT ASIDE */
.about-wrapper {
  padding: 50px;
  padding-bottom: 20px;
}

.about-photo {
  height: 280px;
  margin: auto;
  width: 100%;
  background: url('./photo.jpg');
  background-size: cover;
  border-radius: 3px;
  /* box-shadow: inset 0px -43px 53px -9px white; */
}

.about__description {
  /* margin-top: 50px; */
  /* background: white; */
  height: 400px;
  padding: 0 5px 0 10px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.kbg-about__subtitle {
  color: var(--grayish-font);
  /* z-index: 1; */
}

.about__stripe {
  width: 150%;
  left: -30px;
  top: 10px;
  height: 121%;
  transform: rotateZ(11deg);
  background: var(--gradient-lite);
  position: absolute;
  z-index: 0;
}

.about__heading {
  position: relative;
  padding: 0 5px 0 10px;
  /* margin-top: -30px; */
  text-align: center;
}

.about__heading h1 {
  position: relative;
  font-weight: 300;
  margin-bottom: 0;
  color: #3a3a3a;
}


.kbg-about-col {
  display: inline-block;
  padding-right: 0;
  background: white;
  overflow: hidden;
  transition: all .2s ease-in;
  box-shadow: 5px 1px 18px 0px #36363617;
  /* border-right: 2px solid transparent; */
  /* width: calc(100% - 10px); */
  /* width: 100%; */
  /* margin-right: 5px; */
  flex-basis: calc(25% - 10px);
}

.kbg-about-col--hidden {
  transform: translateX(-100%);
}

.grid-col {
  padding: 0;
}

/* ABOUT SECTION */
.kbg-about-section {
  position: absolute;
  top: 26px;
  left: 33px;
  right: 83px;
  border-radius: 5px;
  white-space: nowrap;
  text-align: center;
  bottom: 23px;
  opacity: 0;
  transition: all .2s ease-in .2s;
}

.kbg-about-section img {
  display: inline-block;
border-radius: 3px;
box-shadow: var(--lite-shadow);
  max-height: 100%;
  max-width: 100%;
}

.kbg-about-section__close {
  vertical-align: top;
  margin-left: 5px;
  margin-top: 5px;
  font-size: 26px;
  cursor: pointer;
}

.kbg-about-section--visible {
  opacity: 1;
}

/* CARD */

@keyframes card-fade-in {
  0% {
      transform: translateY(50px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes card-fade-out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}


.kbg-card {
  display: none;
  margin: auto;
  position: absolute;
  top: 40px;
  left: 40px;
  bottom: 40px;
  right: 40px;
  /* box-shadow: 0px 5px 16px 2px #3c3c3c80; */
  font-size: 0;
  opacity: 0;
}

.kbg-card--visible {
  animation: card-fade-in .2s ease-in .2s;
  animation-fill-mode: forwards;
}

.kbg-card--hidden {
  animation: card-fade-out .2s ease-in;
  animation-fill-mode: forwards;
}

.kbg-card__image {
  margin-top: 20px;
  display: inline-block;
  height: calc(100% - 40px);
  background: white;
  width: 45%;
  vertical-align: top;
  padding-right: 2px;
  /* overflow: hidden; */
  box-shadow: 0px 3px 7px 2px #3c3c3c1c;
}

.kbg-card__content {
  color: white;
  display: inline-block;
  height: 100%;
  background: white;
  width: 55%;
  padding: 20px 30px;
  font-size: 1rem;
  vertical-align: top;
  text-align: center;
  box-shadow: 0px 3px 7px 2px #3c3c3c1c;
  /* background: linear-gradient(135deg, rgba(160,214,223,1) 0%, rgba(160,214,223,1) 42%, rgba(129,161,213,1) 100%); */
  background: var(--kbg-gradient);
  text-shadow: 0px 1px 2px rgb(66, 66, 66);
  /* box-shadow: inset 0 0 0 4px #d2d2d2; */
  border-radius: 3px;
}

.kbg-card h2 {
  text-transform: uppercase;

}

.kbg-card__header-divider {
  width: 210px;
  height: 4px;
  background: var(--kbg-main-bg);
  margin: auto;
   margin-bottom: 15px;
}

.kbg-card__text {
  text-align: left;
}

.kbg-card__close-btn {
  text-align: right;
  font-size: 30px;
  line-height: 1;
}

.kbg-card__close-btn i {
  cursor: pointer;
}
.kbg-card__carousel-item {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* display: inline-block; */
  width: 100%;
}

.kbg-card__carousel {
  height: 100%;
  /* overflow: hidden; */
}

.kbg-card__carousel .owl-stage-outer {
  height: 100%;
}

.kbg-card__carousel .owl-stage {
  height: 100%;
}


.kbg-card__carousel .owl-item {
  height: 100%;
}

/* BUTTON */
.kbg-btn,
.btn.kbg-btn:active,
.btn.kbg-btn:focus {
  background: var(--gradient-lite);
  box-shadow:  0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  border: none;
  text-transform: uppercase;
  text-shadow: 0px 1px 2px rgb(66, 66, 66);
}

.kbg-btn:hover {
      box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
      transform: translateY(-1px);
      transition: all .15s ease;
}
